---
// Здесь javascript (или typescript)
import Table from "../components/table.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <Table caption="table 1" data={["text", "овощи"]} />
    <Table caption="table 2" data={["фрукты", "овощи"]} />
    <Table caption="table 3" data={["данные", "ещё данные", "овощи"]} />
    <table>
      <caption>text</caption>
    </table>
  </body>
</html>
